.game {
    display: flex;
    flex-direction: row;
}

.board-row {
    display: flex;
    flex-direction: row;
}

body {
    font-family: 'nunito_for_arco', 'Helvetica Neue', Helvetica, 'PingFang SC', 'Hiragino Sans GB',
    'Microsoft YaHei', '微软雅黑', Arial, sans-serif;
    font: 14px;
    margin: 2vh;
}

.square {
    border: 1px solid #4e5969;
    width: 34px;
    height:34px;
    background: #fff;
    font-size: 24px;
    font-weight: bold;
    margin-top: -1px;
    margin-left: -1px;

}